## WEEK 1 - Boolean Assignments

## Declare a boolean value and store it in a variable. 
Check the type and print the id of the same.

In [1]:
a = True
print(type(a))
print(id(a))

<class 'bool'>
140729864883072

## Take one boolean value between 0 - 256. 
Assign it to two different variables.
Check the id of both the variables. It should come the same. Check why?

In [3]:
a = True 
b = True
print(id(a), id(b))

140729864883072 140729864883072

## Arithmetic Operations on boolean data Take two different boolean values. Store them in two different variables.Do below operations on them:-
 Find sum of both values
 Find difference between them
 Find the product of both.
 Find value after dividing first value with second value
 Find the remainder after dividing first value with second value
 Find the quotient after dividing first value with second value
 Find the result of first value to the power of second value.

## Find sum of both values

In [30]:
a = 6 #True
b = 3 #False
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b) # quotient
print(a % b)  # remainder
print(a**b)

9
3
18
2.0
2
0
216

## Comparison Operators on boolean values 
Take two different boolean values 
Store them in two different variable.
Do below operations on the -
 Compare these two values with below operator:-
 Greater than, '>'
 less than, '<'
 Greater than or equal to, '>='
 Less than or equal to, '<='
Observe their output(return type should be boolean)

In [71]:
a = True  # 1
b = False # 0
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

True
False
True
False

## Q. Equality Operator 
Take two different boolean values 
Store them in two different variableE
Equate them using equality operators (==, !=)
Observe the output(return type should be boolean)

In [37]:
s1 = True 
s2 = False
print(s1 == s2)
print(s1 != s2)

False
True

## . Logical operators 
Observe the output of below cod . 
Cross check the output manually

In [39]:
print(True and True)  #----------------------------------------->Output is True
print(False and True)  #----------------------------------------->Output is False
print(True and False)  #----------------------------------------->Output is False
print(False and False)  #----------------------------------------->Output is False
print(True or True)    #----------------------------------------->Output is True
print(False or True)   #----------------------------------------->Output is True
print(True or False)   #----------------------------------------->Output is True
print(False or False)  #----------------------------------------->Output is False
print(not True)       #----------------------------------------->Output is False
print(not False)     #----------------------------------------->Output is True

True
False
False
False
True
True
True
False
False
True

## Q. Bitwise Operators 
Do below operations on the values provided below:-
 Bitwise and(&) --------------> True, True -------> Output is True
 Bitwise or(|) --------------> True, False -------> Output is True
 Bitwise(^) --------------> True, False -------> Output is True
 Bitwise negation(~) ---------> True -------> Output is -2
 Bitwise left shift ---------> True,2 -------> Output is 4
 Bitwise right shift ---------> True,2 -------> Output is 0
Cross check the output manually

In [59]:
var1 = True
var2 = False
print(var1 & var1)
print(var1 | var2)
print(var1 ^ var2)
print(not var1) #~ 
print(var1<<2)
print(var1>>2)

True
True
True
False
4
0

## Q. What is the output of expression inside the print statement. Cross check before running the program.

In [61]:
a = True
b = True
print(a is b) #True or False? #
print(a is not b) #True or False?
a = False
b = False
print(a is b) #True or False?
print(a is not b) #True or False?

True
False
True
False

## Membership operation. in, not in are two membership operators and it returns boolean value

In [69]:
print(True in [10,10.20,10+20j,'Python', True])
print(False in (10,10.20,10+20j,'Python', False))
print(True in {1,2,3, True})
print(True in {True:100, False:200, True:300})
print(False in {True:100, False:200, True:300})

True
True
True
True
True

## Complex assignments

## Declare a complex number and store it in a variable.  
Check the type and print the id of the same.

In [3]:
a = 3+4j
print(type(a))
print(id(a))

<class 'complex'>
1846033068272

## Arithmetic Operations on complex number 
Take two different complex numbers.
Store them in two different variables 
Do below operations on them1.
   Find sum of both numb,
## 2. 
   Find difference between,3.m 
   Find the product of both num4.. 
   Find value after dividing first num with second 5.er 
   Find the result of the first num to the power of the second number.

In [11]:
a = 2+3j
b = 3+4j
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b)

(5+7j)
(-1-1j)
(-6+17j)
(0.72+0.04j)
(-0.204552921794176+0.8966232598799766j)

## Comparison Operation not applicable between instance of complex 
values.
Object reusability concept is not applicable on complex number

## Equality Operator Take two different complex numbers. Store them in two different variables. Equate them using equality operators (==, !=) 
Observe the output(return type should be boolean)

In [15]:
a = 2+3j
b = 2+3j
print(a == b)
print(a != b)

True
False

## Logical operators  Observe the output of below code Cross check the output manually

In [17]:
print(10+20j and 20+30j)    #20+30j #----------------------------------------->Output is 20+30j 
 
print(0+0j and 20+30j)      #0+0j #----------------------------------------->Output is 0j 
 
print(20+30j and 0+0j)      #0+0j  #----------------------------------------->Output is 0j 
 
print(0+0j and 0+0j)        #0+0j #----------------------------------------->Output is 0j 
 
print(10+20j or 20+30j)     #10+20j #----------------------------------------->Output is 10+20j 
 
print(0+0j or 20+30j)       #20+30j #----------------------------------------->Output is 20+30j 
 
print(20+30j or 0+0j)       #20+30j #----------------------------------------->Output is 20+30j 
 
print(0+0j or 0+0j)         #0+0j #----------------------------------------->Output is 0j 
 
print(not 10+20j)           #False #----------------------------------------->Output is False 
 
print(not 0+0j)             #True #----------------------------------------->Output is True

(20+30j)
0j
0j
0j
(10+20j)
(20+30j)
(20+30j)
0j
False
True

## What is the output of the expression inside the print statement. 
Cross check before running the program.alse?

In [23]:
a = 10+20j 
b = 10+20j 
print(a is b)       #False   #True or False? 
print(a is not b)   #True   #True or False?

False
True

## Membership operation 
in, not in are two membership operators and it returns boolean value  #True

In [25]:
print('2.7' in 'Python2.7.8')                      #True 
print(10+20j in [10,10.20,10+20j,'Python'])        #True 
print(10+20j in (10,10.20,10+20j,'Python'))        #True 
print(30+40j in {1,20.30,30+40j})                  #True 
print(30+40j in {1:100, 2.3:200, 30+40j:300})      #True 
print(10 in range(20))                             #True

True
True
True
True
True
True

## Float Assignment

##  Declare a float value and store it in a variable. Check the type and print the id of the same.

In [27]:
x = 10.20
print(type(x))
print(id(x))

<class 'float'>
1846033063600

## Arithmetic Operations on float 
Take two different float values.
Store them in two different variables 
Do below operations on them:- 
   Find sum of both numbers 
   Find difference between them 
   Find the product of both numbers. 
   Find value after dividing first num with second number 
   Find the remainder after dividing first number with second number 
   Find the quotient after dividing first number with second number 
   Find the result of the first num to the power of the second number.

In [29]:
a = 40.10
b = 20.10
print(a + b)
print(a - b)
print(a * b)
print( a / b)
print(a // b)
print(a % b)
print(a ** b)

60.2
20.0
806.0100000000001
1.9950248756218905
1.0
20.0
1.6718676316786345e+32

## Comparison Operators on float 
Take two different float values.
Store them in two different variables 
Do below operations on them
   Compare these two numbers with below operator:- 
       Greater than,>' 
 Smaller than'<' 
 Greater than or equal to'>=' 
 Less than or equal t, '<=' 
Observe their output(return type should be boolean)

In [31]:
x = 30.4
y = 20.5
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

True
False
True
False

## Equality Operator 
Take two different float values.
Store them in two different variables 
Equate them using equality operators (==, !) 
Observe the output(return type should be boolean)

In [35]:
x = 30.4
y = 20.5
print(x == y)
print(x != y)
x1 = 10.0
y1 = 10.0
print(x1 == y1)
print(x1 != y1)

False
True
True
False

## Logical operators Observe the output of below code Cross check the output manually

In [47]:
print(10.20 and 20.30)       #both are true and second value taken >Output is 20.3 
 
print(0.0 and 20.30)         #First is false so first val 
taken->Output is 0.0 
 
print(20.30 and 0.0)         #Goes to till second and second val is 
false so second is taken>Output is 0print(0.0 and 0.0)and 0.0)           #First is false so first lue is 
taken->Output is 0.0 
 
print(10.20 or 20.30)        #First is True so fir value is 
taken>Output is 10.2 
 
print(0.0 or 20.30)          #Goes to till second and cond is true 
second value is taken->Output is 20.3 
 
print(20.30 or 0.0)          #First is True  first value is 
taken->Output is 20.3 
 
print(0.0 or 0.0)           d #Goes to till seconand second is also 
false and second value is taken>Output is 0.0 
 
print(not 10.20)             #-Not of true is false->Output is False 
 
print(not 0.0)               #Not of false is True>Output is True

SyntaxError: invalid decimal literal (1928625992.py, line 7)

## What is the output of expression inside print statement. Cross check 
before running the program. 
a = 10.20 
b - 10.20 
print(a is b)          #True or False? True 10.20<256 
print(a is not b)      #True or False? False 
Why the Id of float values are different when the same value is 
assigned to two different variables 
ex: a = 10.5 b=10.5. but id will be same if I assign the variable 
having float i.e. a=c then both a and c's Id are same

In [49]:
a = 10.20 
b = 10.20 
print(a is b)          #True or False? True 10.20<256 
print(a is not b)      #True or False? False

False
True

 ## Bitwise operation is not applicable between instances of float. Why the Id of float values are different when the same value is assigned to two different variables 
ex: a = 10.5 b=10.5. but id will be same if I assign the variable 
having float i.e. a=c then both a and c's Id are same 
Object reusability concept is not applicable on float values.

 ## Membership operation in, not in are two membership operators and it returns boolean value

In [51]:
print('2.7' in 'Python2.7.8')              #True 
print(10.20 in [10,10.20,10+20j,'Python']) #True 
print(10.20 in (10,10.20,10+20j,'Python')) # True 
print(20.30 in {1,20.30,30+40j})           # True 
print(2.3 in {1:100, 2.3:200, 30+40j:300}) # True 
print(10 in range(20))                     # True

True
True
True
True
True
True

## Int Assignment 
## Q. Declare an int value and store it in a variable. Check the type and print the id of the same.

In [3]:
a = 10
print(type(a))
print(id(a))

<class 'int'>
140729562643160

## 
Q. Take one int value between 0 - 256.
Assign it to two different variables 
Check the id of both the variables. It should come the same. Check why?

In [5]:
x = 143
y = 143 
print(id(x))
print(id(y))

140729562647416
140729562647416

## Take one int value either less than -5 or greater than 256. 
Assign it to two different variables.
Check the id of both the variables. It should come different.Check why?

In [11]:
s1 = 300
s2 = 300
print(id(s1))
print(id(s2))

2098744471856
2098744471056

##  Arithmetic Operations on integers 
Take two different integer values.
Store them in two different variables 
Do below operations on them:- 
   Find sum of both numbers 
   Find difference between them 
   Find the product of both numbers. 
   Find value after dividing first num with second number 
   Find the remainder after dividing first number with second number 
   Find the quotient after dividing first number with second number 
   Find the result of the first num to the power of the second number.

In [13]:
s3 = 25
s4 = 5
print(s3 + s4)
print(s3 - s4)
print(s3 * s4)
print(s3 / s4)
print(s3 // s4)
print(s3 % s4)
print(s3 ** s4)

30
20
125
5.0
5
0
9765625

## Comparison Operators on integers Take two different integer values. Store them in two different variables. Do below operations on them:- Compare se two numbers with below operator:- 
       Greater than, '>' 
       Smaller than, '<' 
       Greater than or equal to, '>=' 
       Less than or equal to, '<=' Observe their output(return type should be boolean)

In [15]:
x1 = 156 
x2 = 123
print(x1 > x2)
print(x1 < x2)
print(x1 >= x2)
print(x1 <= x2)

True
False
True
False

## Equality Operator 
Take two different integer values.
Store them in two different variables 
Equate them using equality operators (==, !=) 
Observe the output(return type should be boolean)

In [19]:
x1 = 500
y2 = 300
print(x1 == y2)
print(x1 != y2)
var1 = 200
var2 = 200
print(var1 == var2)
print(var1 != var2)

False
True
True
False

## Logical operators Observe the output of below code Cross check the output manually

In [27]:
print(10 and 20) #----------------------------------------->Output is 20  ==. T T ->  # later value
print(0 and 20) #----------------------------------------->Output is 0  ---< F T -->1st value
print(20 and 0) #----------------------------------------->Output is 0 
print(0 and 0) #----------------------------------------->Output is 0 
print(10 or 20) #----------------------------------------->Output is 10 
print(0 or 20) #----------------------------------------->Output is 20 
print(20 or 0) #----------------------------------------->Output is 20 
print(0 or 0) #----------------------------------------->Output is 0 
print(not 10) #----------------------------------------->Output is False 
print(not 0) #----------------------------------------->Output is True

20
0
0
0
10
20
20
0
False
True

## Q. Bitwise Operators 
Do below operations on the values provided below:- 
   Bitwise and(&) -----------------------------------------> 10, 20 -------> Output is 0 
   Bitwise or(|)  -----------------------------------------> 10, 20 -------> Output is 30 
   Bitwise(^)     -----------------------------------------> 10, 20 -------> Output is 30 
   Bitwise negation(~) ------------------------------------> 10 -------> Output is -11 
   Bitwise left shift  ------------------------------------> 10,2 -------> Output is 40 
   Bitwise right shift ------------------------------------> 10,2 -------> Output is 2 
Cross check the output manually

In [31]:
print(10 & 20)
print(10 | 20)
print(10 ^ 20)
print(~10)
print(10 << 2)
print(10 >> 2)

0
30
30
-11
40
2

## What is the output of expression inside print statement. Cross check 
before running the program. or False?

In [33]:
a = 10 
b = 10 
print(a is b)          #True or False? 
print(a is not b)      #True or False? 
 
a = 1000 
b = 1000 
print(a is b)          #True or False? 
print(a is not b)      #True or False?

True
False
False
True

## Q. What is the output of expression inside print statement. Cross check 
before running the program. 
print(10+(10*32)//2**5&20+(~(-10))<<2)

In [37]:
print(10+(10*32)//2**5&20+(~(-10))<<2)

20

## Q. Membership operation 
in, not in are two membership operators and it returns boolean value nge(20))

In [49]:
print('2' in 'Python2.7.8') 
print(10 in [10,10.20,10+20j,'Python']) 
print(10 in (10,10.20,10+20j,'Python')) 
print(2 in {1,2,3}) 
print(3 in {1:100, 2:200, 3:300}) 
print(10 in range(20))

True
True
True
True
True
True

## An integer can be represented in binary, octal or hexadecimal form.
Declare one binary, one octal and one hexadecimal value and store them
in three different variables 
Convert 9876 to its binary, octal and hexadecimal equivalent and prit 
their corresponding value.

In [51]:
a = 0b1010000 
print(a) 
 
b = 0o7436 
print(b) 
 
c = 0xfade 
print(c) 
 
print(bin(80)) 
 
print(oct(3870)) 
print(hex(64222)) 
print(bin(0b1010000)) 
print(bin(0xfade)) 
print(oct(0xfade)) 
print(oct(0o7436)) 
print(hex(0b1010000)) 
print(hex(0xfade))

80
3870
64222
0b1010000
0o7436
0xfade
0b1010000
0b1111101011011110
0o175336
0o7436
0x50
0xfade